
@{
    ViewData["Title"] = "Mis Citas";
}

<h1>Listado de Citas</h1>


<p>

    <button class="btn btn-primary" onclick="nuevaCita()">

        <i class="fas fa-table"></i> Nuevo Cita
    </button>
</p>

<div class="row">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Contacto</th>
                <th scope="col">Mascota</th>
                <th scope="col">Servicio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
              
            </tr>
        </thead>

        <tbody id="cuerpoDates"></tbody>
    </table>

</div>


<div class="modal fade" id="modalDate" tabindex="1" role="dialog" aria-labelledby="modalDateLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="idTituloModalDate">Crear Cita</h5>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="recipient-name" class="col-form-label">Contacto</label>
                            <input type="text" class="form-control" id="txtContactNumber" placeholder="Medio de contacto" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="recipient-name" class="col-form-label">Fecha Cita</label>
                            <input type="date" class="form-control" id="txtDateDate" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="recipient-name" class="col-form-label">Descrip</label>
                            <input type="text" class="form-control" id="txtDesc" placeholder="Que se hara?" required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label"> Servicio</label>
                            <select id="cmbService" class="form-control" onchange="seleccionarServicio()" required>
                                <option> Seleccionar</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label"> Mascota</label>
                            <select id="cmbPet" class="form-control" onchange="seleccionarMascota()" required>
                                <option> Seleccionar</option>
                            </select>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-window-close"></i>
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" onclick="guardarDate()">
                    <i class="far fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>







@section Scripts{
  @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript" charset="utf-8">
            var listDates= [];
      var listPets=[];
      var listStates=[];
      var listServices=[];
      let idService='';
      let idState='';
      let idPet='';
      let idDate='';
         $(document).ready(function () {
             getAllMyDates();
        getAllMyPets();
        getAllServices();
       // getAllState();
      });

        function getAllMyDates() {
          modalProcesando(true);
          $.ajax({
              url: '@Url.Action("GetAllMyDates", "Dates")',
              method: 'GET',
              dataType: "json",
              success: function (data) {
                  modalProcesando(false);
                  listDates=data;
                  cargarGridDates(listDates);
                  console.log(listDates);
              },
              error: function (xhr, textStatus, errorThrown) {
                      modalProcesando(false);
                      console.error(xhr, textStatus, errorThrown);
                  }
           });
      }

       function cargarGridDates(data){
          $("#cuerpoDates").html("");
          for(var i=0; i<data.length; i++){
              var tr=`
               <tr>
                  <th>`+ data[i].date+ `</th>
                  <th> `+ data[i].contact +`</th>
                  <th> `+ data[i].pet +`</th>
                  <th> `+ data[i].services + `</th>
                  <th> `+ data[i].description + `</th>
                   <th> `+ data[i].state + `</th>
                  <td>
                  <button  class="btn btn-warning" onclick="editarDate(`+ data[i].id +`)"><i class="fas fa-edit"></i> Editar</button>
                  <button class="btn btn-danger" onclick="eliminarDate(`+ data[i].id +`)"><i class="far fa-trash-alt"></i> Eliminar</button>
                  </td>
              </tr>
              `;
              $("#cuerpoDates").append(tr);
          }
      }


     function getAllServices(){
          modalProcesando(true);
          $.ajax({
              url: '@Url.Action("GetAllServices", "Dates")',
              method: 'GET',
              dataType: "json",
              success: function (data) {
                  modalProcesando(false);
                  listServices=data;
                  cargarServices(listServices);
                 
              },
              error: function (xhr, textStatus, errorThrown) {
                      modalProcesando(false);
                      console.error(xhr, textStatus, errorThrown);
                  }
           });
      }


    function getAllMyPets(){
          modalProcesando(true);
          $.ajax({
              url: '@Url.Action("GetAllMyPets", "Pet")',
              method: 'GET',
              dataType: "json",
              success: function (data) {
                  modalProcesando(false);
                  listPets=data;
                  cargarPets(listPets);
                  console.log(listPets);
              },
              error: function (xhr, textStatus, errorThrown) {
                      modalProcesando(false);
                      console.error(xhr, textStatus, errorThrown);
                  }
           });
      }




       function nuevaCita(){
         if(listPets.length==0){
              getAllMyPets()
          }
          if(listServices.length==0){
             getAllServices()
          }
         $('#idTituloModalDate').html("Crear Cita");
         $('#modalDate').modal({keyboard:true});
      }

      function cargarServices(data, selected) {
          $("#cmbService").empty();
          $("#cmbService").append('<option value="" disabled selected>Seleccione un Servicio</option>');
          $.each(data, function (i, lista) {
              if (data[i].idService == selected) {
                  $("#cmbService").append('<option value="' + data[i].idService + '"selected>' + data[i].services + '</option>');
              }
              else {
                  $("#cmbService").append('<option value="' + data[i].idService + '">' + data[i].services + '</option>');
              }
          });
        }
        function cargarPets(data, selected) {
          $("#cmbPet").empty();
          $("#cmbPet").append('<option value="" disabled selected>Seleccione una mascota</option>');
          $.each(data, function (i, lista) {
              if (data[i].id == selected) {
                  $("#cmbPet").append('<option value="' + data[i].id + '"selected>' + data[i].name + '</option>');
              }
              else {
                  $("#cmbPet").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
              }
          });
      }


      function validarForm()
       {
        if($("#txtContactNumber").val()=='')
        {
                $("#txtContactNumber").focus();
                toastMessage('warning','El Contacto es Obligatorio.');
                return false;
        }
         if($("#txtDesc").val()=='')
        {
                $("#txtDesc").focus();
                toastMessage('warning','La Descripcion es obligatoria.');
                return false;
        }
       
        if(idService=='')
        {
                $("#cmbService").focus();
                toastMessage('warning','Debes elejir un servicio.');
                return false;
        }
        if(idPet=='')
        {
                $("#cmbPet").focus();
                toastMessage('warning','Debes escojer una mascota.');
                return false;
        }
        if($("#txtDateDate").val()=='')
        {
                $("#txtDateDate").focus();
                toastMessage('warning','La fecha de la cita es obligatoria.');
                return false;
        }
        


        return true;
       }

      function limpiarForm()
       {
       $("#txtContactNumber").val('');
       $("#txtDateDate").val('');
       $("#txtDesc").val('');
       idService='';
       idPet='';
       cargarServices(listServices);
       cargarPets(listPets);
    }


      function seleccionarServicio()
    {
        var combo=document.getElementById("cmbService");
        let selected = combo.options[combo.selectedIndex].value;
        //let text = combo.options[combo.selectedIndex].text;
        idService=selected;
    }
       function seleccionarMascota()
    {
        var combo=document.getElementById("cmbPet");
        let selected = combo.options[combo.selectedIndex].value;
        //let text = combo.options[combo.selectedIndex].text;
        idPet=selected;
    }

    function guardarDate(){
        if(validarForm())
        {
            let parametro={
                Contact:$("#txtContactNumber").val(),
                Date:$("#txtDateDate").val(),
                Description:$("#txtDesc").val(),
                idService:idService,
                idPet:idPet,
            };
            if(idDate=='')
            {
                modalProcesando(true);
               
                $.ajax({
                    url: '@Url.Action("InsertDate", "Dates")',
                    method: 'POST',
                    data:parametro,
                    dataType: "json",
                    success: function (data) {
                        modalProcesando(false);
                        console.log(listDates)
                        if (data){
                            $('#modalDate').modal('hide');
                            limpiarForm();
                            toastMessage('success','Cita guardada exitosamente!');
                            getAllMyDates();
                        }else{
                             toastMessage('error','Hubo un error al guardar, por favor intentarlo nuevamente!');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                            modalProcesando(false);
                            toastMessage('error','Hubo un error al guardar, por favor intentarlo nuevamente!');
                            console.error(xhr, textStatus, errorThrown);
                        }
                 });
            }else{
                parametro.Id=idDate;              
                modalProcesando(true);
                $.ajax({
                    url: '@Url.Action("UpdateDate", "Dates")',
                    method: 'PUT',
                    data:parametro,
                    dataType: "json",
                    success: function (data) {
                        modalProcesando(false);
                        console.log(listDates);
                        console.log(data);

                        if (data){
                            $('#modalDate').modal('hide');
                            limpiarForm();
                            toastMessage('success','Mascota guardada exitosamente!');
                            getAllMyDates();
                        }else{
                             toastMessage('error','Hubo un error al guardar, por favor intentarlo nuevamente!');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                            modalProcesando(false);
                            toastMessage('error','Hubo un error al guardar, por favor intentarlo nuevamente!');
                            console.error(xhr, textStatus, errorThrown);
                        }
                 });
            }
        }
    }

      function eliminarDate(idDate)
    {
        console.log("mandó a eliminar", idDate);
        Swal.fire({
            title: '¿Confirmar Eliminacion?',
            text: "No podrás revertir esto.!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si, Eliminar!',
        }).then((result) => {
            if (result.isConfirmed) {
                modalProcesando(true);
                //petición
                $.ajax({
                    url: '@Url.Action("DeleteDate", "Dates")',
                    method: 'DELETE',
                    data:{
                        idDate:idDate
                    },
                    dataType: "json",
                    success: function (data) {
                        modalProcesando(false);
                        console.log(data);
                       console.log(listDates);

                        if (data.success){
                            listDates=listDates.filter(x=>x.id!=idDate);
                            console.log('entro');
                             console.log(listDates);
                             //getAllMyDates();
                             cargarGridDates(listDates);
                            Swal.fire(
                                'Funciono!',
                                data.message,
                                'success');
                              
                        }else{
                            
                            Swal.fire(
                                'Error!',
                                data.message,
                                'error');


                        }
                     },
                     error: function (xhr, textStatus, errorThrown) {
                         modalProcesando(false);
                         console.error(xhr, textStatus, errorThrown);
                     }
                  });
                }
            });
        }

          function editarDate(id)
    {
        idDate=id;
        let date= listDates.find(x=>x.id==idDate);
        idService=date.idService;
       

        $('#txtContactNumber').val(date.contact);
        //setear fechas
        var now = new Date(date.Date);
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear()+"-"+(month)+"-"+(day);
        $('#txtDateDate').val(today)
        $('#txtDesc').val(date.description)
        cargarServices(listServices,date.idService);
        cargarPets(listPets,date.idPet);
       $('#idTituloModalDate').html("Editar Cita");
       $('#modalDate').modal({keyboard:true});
    }

</script>
}